<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

{% include 'components/sidenav.html' %}


<div class="main">
<p>Example data of Microsoft stock information</p>
    <table class="table table-hover">
      <thead>
        <tr>
            <th scope="col">Adj Close</th>
            <th scope="col">Close</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Open</th>
            <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody id="table_body">
      </tbody>
    </table>
        
</div>




  <!-- Our JS -->
  <script type="text/javascript" src="static/js/data.js"></script>


</body>
</html>
