<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

{% include 'components/sidenav.html' %}

  <div class="container-fluid">
    <div>
        <!--<img src="../static/images/touchscreen.jpg" class="img-fluid float-right" alt="Responsive image">-->
        <img src="../static/images/dataprocess.jpg" class="img-fluid float-right" alt="Responsive image">
    </div>
    <div class="main">
      <h1> this is our presentation </h1>
      <h2>FInal Project </h2>
      <p>Create a model that will predict stock behavior</p>
      <p>Scroll down the page to see the result.</p>


    </div>
  </div>

</body>
</html>
