<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Hyperparameters</th>
      <th scope="col">Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Inputs/Features</th>
      <td>30 Day past Close price with the day's Adj Close, Close, High, Low, Open, Volume</td>
    </tr>
    <tr>
      <th scope="row">Training Data</th>
      <td>1986-04-07 to 2002-03-04</td>
    </tr>
    <tr>
      <th scope="row">Testing Data</th>
      <td>2002-03-11 to 2019-08-14</td>
    </tr>
    <tr>
      <th scope="row">Number of Layers</th>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">Number of Neurons per Layer</th>
      <td>20</td>
    </tr>
    <tr>
      <th scope="row">Epochs</th>
      <td>50</td>
    </tr>
  </tbody>
</table>