<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Machine Learning Method</th>
      <th scope="col">Epochs</th>
      <th scope="col">Mean Accuracy</th>
      <th scope="col">Standard Deviation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Backpropagation</th>
      <td>30</td>
      <td>61.3</td>
      <td>4.88</td>
    </tr>
    <tr>
      <th scope="row">Long Term Short Memory</th>
      <td>30</td>
      <td>62.07</td>
      <td>11.14</td>
    </tr>
    <tr>
      <th scope="row">Support Vector Machine</th>
      <td>30</td>
      <td>63.24%</td>
      <td>1.13</td>
    </tr>
  </tbody>
</table>